#main{
    max-width: 7.5in;
    margin-left: auto;
    margin-right: auto;
}

@font-face{
    font-family: "latex";
    src:url("/fonts/latex.woff") format("woff")
}

#content{
    margin: 10%;
    margin-top: 7%;
    line-height: 1.55em;
}

@media only screen and (max-width: 7.5in) {
    #content{
        margin-left: 2%;
        margin-right: 2%;
    }
  }

body{
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

p{
    /* font-size: 1.5em; */
}

h1{
    font-weight: 600;
}

#header{
    font-family: 'Playfair Display', 'Times New Roman', Times, serif!important;
    font-weight: normal;
    margin: 0;
}

#headerlink{
    color: black;
    text-decoration: none;
}
#headerlink:visited{
    color: black;
    text-decoration: none;
}

#headerRow{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.strike{
    text-decoration: line-through;
}

#archivelink{
    margin: 0;
    margin-right: 0.25em;
    color: rgba(0, 0, 0, 0.75);
}

.deemph{
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
}

#articleHeading > h1{
    margin-bottom: 0.25em;
}

.code {
    font-family: monospace;
    background-color: lightgray;
    border: 1px solid gray;
    padding: 0.2rem;
}

.math{
    text-align: center;
}

.caption{
    text-align: center;
    font-style: italic;
    margin-top: 0%!important;
    margin: 0%!important;
    margin-block-start: 0.1em;
}